.ab5-relative {
  position: relative;
}

.ab5-nav {
  padding-top: 120px;
}

.ab5-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.ab5-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
}

.ab5-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}

.ab5-flex img {
  width: 400px;
}
