.ab5-relative {
  position: relative;
}

.ab5-nav {
  padding-top: 120px;
}

.ab5-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.ab5-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
}

.ab5-images__left {
  margin-left: 228px;
  margin-top: 100px;
  padding-bottom: 135px;
  width: 471px;
}

.ab5-images__right {
  position: absolute;
  top: 425px;
  left: 758px;
}
