.about1 {
  color: #ffffff;
  background-color: #000000;
}

.about2 {
  color: #000000;
  background-color: #f1f1f1;
}

.about3 {
  color: #ffffff;
  background-color: #1085f9;
}

.about4 {
  color: #7c7c7c;
  background-color: #ffffff;
}

.about5 {
  color: #7c7c7c;
  background-color: #ffffff;
}

.about6 {
  color: #000000;
  background-color: #f1f1f1;
}

.footer {
  color: #ffffff;
  background-color: #000000;
}
