.ab1-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding-top: 408px;
  padding-bottom: 319px;
}

.ab1-stripe {
  background-color: #1085f9;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  gap: 30px;
  align-items: center;
}

.ab1-stripe__text {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 21px;
  color: #4f4f4f;
  margin-bottom: 14px;
}

.ab1-stripe__number {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-right: 200px;
  margin-bottom: 10px;
}
