.ab3-nav {
  padding-top: 120px;
}

.ab3-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.ab3-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 150px;
  margin-top: 22px;
  margin-left: -13px;
}

.ab3-flex {
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
  padding-bottom: 142px;
}

.ab3-flex div:first-child {
  flex: 0 0 50%;
}

.ab3-flex img {
  width: 700px;
  height: 388px;
}

.ab3-text {
  margin-left: 110px;
}

.ab3-hashtag {
  font-size: 21px;
  font-family: NotoSansKR;
  font-weight: 700;
  line-height: 33px;
  display: flex;
  gap: 12px;
}

.ab3-detail {
  font-size: 16px;
  font-family: NotoSansKR;
  font-weight: 400;
  line-height: 33px;
  margin-top: 90px;
  margin-left: 12px;
  width: 520px;
}
