.ab3-relative {
  position: relative;
}

.ab3-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.ab3-nav {
  padding-top: 120px;
}

.ab3-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.ab3-hashtag {
  position: absolute;
  top: 120px;
  right: 0;
  text-align: right;
  font-size: 21px;
  font-family: NotoSansKR;
  font-weight: 700;
}

.ab3-hashtag p {
  margin-top: 30px;
}

.ab3-hashtag p:first-child {
  margin-top: 20px;
}

.ab3-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 150px;
  margin-top: 22px;
  margin-left: -13px;
}

.ab3-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 142px;
}

.ab3-flex img {
  width: 780px;
  height: 444px;
  margin-left: -80px;
}

.ab3-text {
  font-size: 16px;
  font-family: NotoSansKR;
  font-weight: 400;
  line-height: 33px;
  margin-top: 90px;
  width: 480px;
  text-align: right;
}
