.al1-hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  height: 100vh;
  z-index: -1;
}

.al1-hero__1 {
  font-family: NotoSans;
  font-weight: 400;
  font-size: 18px;
  margin-top: 13vh;
  margin-bottom: 3.2vh;
  color: #cccccc;
}
.al1-hero__2 {
  font-family: NotoSans;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffffff, #070707);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vh;
  line-height: 9.5vh;
}

.al1h2last {
  margin-bottom: 4.25vh;
}

.al1-hero__3 {
  font-size: 2vh;
  font-family: NotoSansKR;
  font-weight: 400;
  line-height: 3.5vh;
  color: #cccccc;
}

.al1-stripe {
  background-color: #1085f9;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 15.96vh;
  position: absolute;
  bottom: 0;
  gap: 1.41vw;
  align-items: center;
}

.al1-stripe__text {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 21px;
  color: #4f4f4f;
  margin-bottom: 1.5vh;
}

.al1-stripe__number {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-right: 10.4vw;
  margin-bottom: 1vh;
}
