@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* @font-face {
  font-family: "SourceHanSans";
  src: url("fonts/SourceHanSans/SourceHanSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SourceHanSans";
  src: url("fonts/SourceHanSans/SourceHanSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SourceHanSans";
  src: url("fonts/SourceHanSans/SourceHanSans-Bold.ttf") format("truetype");
  font-weight: 700;
} */
