.co2-title {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 40px;
  padding-top: 120px;
  margin-bottom: 20px;
  text-align: center;
}

.co2-subtitle {
  font-family: NotoSansKR;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  color: #9b9b9b;
}

.co2-bar {
  text-align: center;
}

.co2-headofficer__wrapper {
  padding-top: 68px;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: flex-end;
}

.co2-officer {
  text-align: center;
  background-color: #ffffff;
  width: 300px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}

.co2-officer__profile {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  border-radius: 75px;
  margin-top: 40px;
}

.co2-officer__name {
  font-family: NotoSansKR;
  font-weight: 500;
  font-size: 15px;
  color: #747474;
  margin-top: 30px;
}

.co2-officer__name span {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 21px;
  color: #1085f9;
}

.co2-officer__detail {
  font-family: NotoSansKR;
  font-weight: 500;
  font-size: 16px;
  color: #484848;
  margin-top: 20px;
  padding-bottom: 35px;
  line-height: 25px;
}

.co2-viceofficer__wrapper {
  padding-top: 35px;
  padding-bottom: 135px;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: flex-end;
}
