.footer-borderline {
  border-bottom: 1px solid #707070;
}

.footer-top {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: flex;
  gap: 40px;
}

.footer-link__item {
  font-family: NotoSans;
  font-weight: 600;
  display: flex;
  gap: 5px;
  color: #cccccc;
  align-items: center;
  font-size: 18px;
}

.footer-top__description {
  font-family: NotoSans;
  font-size: 14.72px;
}

.footer-middle {
  padding: 30px 0 62px;
}

.footer-middle__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fmrow1 {
  margin-bottom: 20px;
}

.fmrow1 p:first-child {
  font-family: NotoSans;
  font-size: 18px;
  font-weight: 600;
}

.fmrow1 p:last-child {
  font-family: NotoSansKR;
  font-size: 14px;
}

.fmrow2 {
  margin-bottom: 50px;
}

.fmrow2 p,
.fmrow3 p {
  font-family: NotoSans;
  font-size: 14px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-social__img {
  width: 40px;
}
