.footer-borderline {
  border-bottom: 1px solid #707070;
}

.footer-top {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: flex;
  gap: 40px;
}

.footer-link__item {
  font-family: NotoSans;
  font-weight: 600;
  display: flex;
  gap: 5px;
  color: #cccccc;
  align-items: center;
  font-size: 18px;
  transition: 0.1s ease-in-out;
}

.footer-link__item:hover {
  color: #ffffff;
  transition: 0.1s ease-in-out;
}

.footer-ac {
  position: relative;
  cursor: pointer;
}

.footer-ac .footer-ac__flex {
  position: absolute;
  top: 50px;
  left: -90px;
  width: 174px;
}

.footer-ac .footer-ac__item {
  font-family: NotoSans;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  height: 40px;
  line-height: 40px;
  transition: 0.1s ease-in-out;
}

.footer-ac .footer-ac__item:hover {
  background-color: #d4d4d4;
  transition: 0.1s ease-in-out;
}

.footer-top__description {
  font-family: NotoSans;
  font-size: 14.72px;
}

.footer-middle {
  padding: 30px 0 62px;
  display: flex;
  justify-content: space-between;
}

.footer-middle__left p:first-child {
  font-family: NotoSans;
  font-size: 18px;
  font-weight: 600;
}

.footer-middle__left p:nth-child(2),
.footer-middle__left p:nth-child(3) {
  font-family: NotoSans;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.footer-middle__right p {
  text-align: right;
  font-family: NotoSans;
  font-size: 14px;
  font-weight: 400;
}

.footer-middle__right p:nth-child(2) {
  margin-top: 15px;
}

.footer-madeby {
  margin-top: 40;
}

.footer-madeby a p {
  color: #ffffff;
  text-decoration: underline;
  margin-top: 10px;
}

.footer-madeby a:first-child p {
  margin-top: 50px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 35px;
}

.footer-social__img {
  height: 36px;
}
