.page1 {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.page2 {
  color: #4f4f4f;
  background-color: #f1f1f1;
}

.page3 {
  color: #4f4f4f;
  background-color: #ffffff;
}

.footer {
  color: #ffffff;
  background-color: #000000;
}
