.nav-logo {
  position: absolute;
  top: 70px;
  left: 200px;
  width: 116px;
  height: 48px;
}

.nav-link {
  position: absolute;
  top: 70px;
  right: 165px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav-link__item {
  color: #cccccc;
  transition: 0.1s ease-in-out;
}

.nav-link__item:hover {
  color: #ffffff;
  transition: 0.1s ease-in-out;
}

.nav-link__item > p,
.nav-tab > p {
  font-size: 18px;
  font-family: NotoSans;
  font-weight: 600;
  line-height: 33px;
}

.nav-tab {
  display: flex;
  gap: 17px;
  align-items: center;
  padding-right: 35px;
}

.nav-tab:hover {
  text-decoration: none;
}

.nav-tab__wrapper {
  margin-top: 10px;
  margin-left: -50px;
}

.nav-tab__item {
  font-family: NotoSans;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #777777;
  text-align: center;
  width: 174px;
  height: 40px;
  line-height: 40px;
  transition: 0.1s ease-in-out;
}

.nav-tab__item:hover {
  background-color: #e9e9e9;
  transition: 0.1s ease-in-out;
}
