.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.nav-logo {
  width: 116px;
  height: 48px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-link__item {
  display: flex;
  gap: 5px;
  color: #cccccc;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.nav-link__item:hover {
  color: #ffffff;
  transition: 0.1s ease-in-out;
}

.nav-link__item p {
  font-size: 18px;
  font-family: NotoSans;
  font-weight: 600;
  line-height: 33px;
}

.nav-ac {
  position: relative;
  cursor: pointer;
}

.nav-ac .nav-ac__flex {
  position: absolute;
  top: 50px;
  left: -90px;
  width: 174px;
}

.nav-ac .nav-ac__item {
  font-family: NotoSans;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  height: 40px;
  line-height: 40px;
  transition: 0.1s ease-in-out;
}

.nav-ac .nav-ac__item:hover {
  background-color: #d4d4d4;
  transition: 0.1s ease-in-out;
}

.nav-menu {
  font-size: 33px;
  color: #cccccc;
  padding-left: 16px;
}
