.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
  width: 80%;
}

.nav-logo {
  width: 120px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-link__item {
  display: flex;
  gap: 5px;
}
