.p3-title {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 40px;
  padding-top: 120px;
  margin-bottom: 20px;
  text-align: center;
}

.p3-subtitle {
  font-family: NotoSansKR;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  color: #9b9b9b;
}

.p3-bar {
  text-align: center;
  margin-bottom: 45px;
}

.p3-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.p3-carousel-ctrlbtn {
  width: 50px;
  height: 100px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
}

.p3-carousel-ctrlbtn p {
  color: #707070;
  font-size: 24px;
  line-height: 100px;
}

.p3-img {
  text-align: center;
  width: 972px;
  height: 545px;
  margin-bottom: 40px;
}

.p3-imgtitle {
  font-family: NotoSansKR;
  font-weight: 400;
  font-size: 21px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 70px;
}

.p3-imgdot {
  text-align: center;
  padding-bottom: 120px;
}
