.p1-hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34vh;
}

.p1-hero__1 {
  font-family: NotoSans;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 3.2vh;
  color: #cccccc;
}
.p1-hero__2 {
  font-family: NotoSans;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffffff, #070707);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vh;
  line-height: 9.5vh;
}

.p1h2last {
  margin-bottom: 4.25vh;
}

.p1-hero__3 {
  font-size: 2vh;
  font-family: NotoSansKR;
  font-weight: 400;
  line-height: 3.5vh;
  color: #cccccc;
}

.p1-social {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 17vh;
}

.p1-social__img {
  width: 40px;
}
