.p1-hero__img {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
}

.p1-hero {
  margin-top: 140px;
}

.p1-hero__1 {
  font-family: NotoSans;
  font-weight: 400;
  font-size: 18px;
  color: #cccccc;
}
.p1-hero__2 {
  font-family: NotoSans;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffffff, #070707);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 75px;
  margin-top: 20px;
}

.p1h3first {
  margin-top: 20px;
}

.p1-hero__3 {
  font-family: NotoSansKR;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #cccccc;
}

.p1-social {
  display: flex;
  gap: 40px;
  margin-top: 155px;
  padding-bottom: 100px;
}

.p1-social__img {
  width: 40px;
}
