.p2-sub__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 130px 0;
}

.p2-sub__grid-r1 {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 20px;
}

.p2-sub__grid-r3 {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 60px;
  color: #0074e8;
  margin: 25px 0 45px;
}

.p2-sub__btn-border {
  display: flex;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #707070;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.p2-sub__btn-arrow {
  margin-top: -8px;
}

.p2-sub__btn-text {
  font-family: NotoSansKr;
  font-size: 15px;
  font-weight: 400;
}
