.r5-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding-top: 70px;
  padding-bottom: 92px;
  margin: 0 250px;
}

.r5-grid__title {
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 21px;
  padding-left: 80px;
}

.r5-grid__description {
  font-family: NotoSansKR;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  padding-left: 80px;
}
