.r3-nav {
  padding-top: 120px;
}

.r3-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.r3-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
}

.r3-profess__flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 115px;
  padding-bottom: 224px;
}

.r3-process__date {
  width: 264px;
  height: 264px;
  border: 5px solid #707070;
  border-radius: 132px;
  box-sizing: border-box;
  color: #0074e8;
  transition: 0.2s ease-in-out;
}

.r3-process__date p:first-child {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
  margin-left: 55px;
}

.r3-process__date p:last-child {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.r3-process__arrow {
  margin-top: 100px;
}

.r3-process__detail {
  margin-top: 40px;
  text-align: center;
}

.r3-process__detail p {
  display: inline-block;
  font-family: NotoSansKR;
  font-weight: 700;
  font-size: 20px;
  padding: 0 25px;
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  transition: 0.2s ease-in-out;
}

.r3-process__content:hover .r3-process__date {
  border-color: #ffffff;
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
}

.r3-process__content:hover .r3-process__detail p {
  background-color: #ffffff;
  color: #0074e8;
  transition: 0.2s ease-in-out;
}
