.r2-relative {
  position: relative;
}

.r2-nav {
  padding-top: 120px;
}

.r2-pagenumber {
  font-family: NotoSans;
  font-weight: 600;
  font-size: 32px;
  margin-top: 8px;
}

.r2-hashtag {
  position: absolute;
  top: 200px;
  right: 0;
  text-align: right;
  font-size: 21px;
  font-family: NotoSansKR;
  font-weight: 700;
}

.r2-hashtag p {
  margin-top: 30px;
}

.r2-hashtag p:first-child {
  margin-top: 20px;
}

.r2-title {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 100px;
  margin-top: 22px;
  line-height: 136px;
}

.r2-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 142px;
}

.r2-flex img {
  width: 700px;
  height: 388px;
}

.r2-detail {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

.r2-hero {
  position: absolute;
  bottom: -45px;
  right: -189.9999px;
  font-family: NotoSans;
  font-size: 100px;
  font-weight: 700;
}
